<p>profile works!</p>
<div class="container mt-5">
    <div class="card shadow p-4">
      <h2 class="text-center mb-4">
        <i class="fa-solid fa-user-gear text-danger"></i>
        My Profile
      </h2>
      <div class="row mb-2">
        <div class="col-sm-4 fw-bold">Name:</div>
        <div class="col-sm-8">{{ username }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4 fw-bold">Email:</div>
        <div class="col-sm-8">{{ email }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4 fw-bold">Mobile:</div>
        <div class="col-sm-8">{{ mobile }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-4 fw-bold">Address:</div>
        <div class="col-sm-8">{{ address }}</div>
      </div>
      <div class="text-center mt-4">
        <a routerLink="/" class="btn btn-danger">
          <i class="fa fa-home"></i> Home
        </a>
      </div>
    </div>
  </div>
  